meta(charset='utf-8')
block title
meta(name='viewport', content='width=device-width')
meta(name='description', content='')
meta(name='keywords', content='')
link(href='/apple-touch-icon.png', rel='apple-touch-icon')

// build:css(public) /css/app.min.css 
link(href='/css/bs4/bootstrap.css', type='text/css', rel='stylesheet')
link(href='/css/font/awesome.css', type='text/css', rel='stylesheet')
link(href='/css/app.css', type='text/css', rel='stylesheet')
// endbuild 